
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

.container {
    margin-top: 20px;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.aboutUs__title {
    font-size: 1.8rem;
    margin: 0 0 20px;
    padding-bottom: 10px;
    color:rgb(108, 108, 108);
    font-weight: 500;
    border-bottom: 1px solid rgb(210, 210, 210);
}
.aboutUs__title-icon {
    font-size: 14px;
}
.our-story__title {
    font-size: 54px;
    font-family: 'Dancing Script', cursive;
    margin: 0 15px 15px;
}
.our-story__content {
    font-size: 18px;
    margin-left: 15px;
}
.our-team__title {
    font-size: 54px;
    font-weight: 600;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}
.our-team__title-line {
    display: inline-block;
    font-size: 120px;
    color: green;
}
.our-team__content {
     margin:auto;
}
.our-team__content-slogan {
   
    font-size: 18px;
    text-align: center;
}
.our-team__member {
    margin: auto;
    text-align: center;
}
.our-team__member-img {
    /* margin: 20px; */
    padding-top: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: relative;
}

.our-team__content .row {
    flex-wrap: wrap-reverse;
}
.down {
    margin-top: 50px;
}
.our-team__member-name {
    font-size: 20px;
}
/* PC: width >= 1024px */
@media only screen and (min-width: 64em) {
    .up2 {
        margin-left: 30px;
    }
    .up1 {
        margin-right: 30px;
    }
}
.our-team__member-img__detail {
    position: absolute;
    background-color: white;
    width: 100%;
    bottom: 0;
    padding-bottom: 10%;
}
.our-team__member-img__detail-name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.our-team__member-img__detail-info {
    line-height: 50px;
    font-size: 18px;
}
